body{
    padding: 0%;
}
.dashboardMainContainer{
    display:flex;
    flex-direction: row;

}
.dashboard_sidebar{
    width:20%;
    background: #323232;
    height:100vh;

}
.dashboard_content_container{
    width:100%;
    background:#f4f6f9 ;
    
}
h3.dashboard_logo{
    color:#f685a1;
    font-size:80px;
    text-align: center;
    margin-bottom: 10%;

}
.dashboard_sidebar_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    top: 1%;
}

.dashboard_sidebar_user img {
    width: 80px;
    height: 80px; /* Add a height to maintain aspect ratio */
    border-radius: 50%;
    border: 2px solid #f685a1;
    margin: 0 auto; /* Center the image horizontally */
    margin-bottom: 5px;
}

ul.dashboard_menu_lists{
    padding:5px;
    margin-top:20px;
}
ul.dashboard_menu_lists li.limainmenu{
    padding-top:15px;
  
    text-transform: uppercase;


}
ul.dashboard_menu_lists li.limainmenu  a{
    text-decoration: none;
    color:#fff;
    height:100%;
    display:block;
    font-size:20px;
    padding:0px 15px;
    padding-bottom:15px;
    padding-right:0px;


}
ul.dashboard_menu_lists li.limainmenu  a i{
    font-size:23px;
    width:30px;
}
ul.dashboard_menu_lists li.limainmenu.menuactive{
    background: #f685a1;
    color:#fff;

}
ul.dashboard_menu_lists li.limainmenu:hover{
    background: #f685a1;
    color:#fff;
    transition:0.3s all;
}
.dashboard_content_topNav{
    background: #b1b0b0;
    padding:20px;


}
.dashboard_content_topNav a{
    color:#848383;
    font-size:20px;
    text-decoration:none;
}
a#logoutButton{
    float: right;

}
.dashboard_content_main{
    padding:50px 10px 10px 10px ;
}
.dashboard_content_main{
    background: #fff;
    height:100%;
    min-height: 800px;
}
/*
div#errorMessage{
    background: #fff;
    text-align:center;
    color:red;
    font-size: 20px;
    padding:11 px;
}
form.appForm{
    width:50%;
    margin:0 auto;
    padding:10px;
    border:1px solid #cecfd0;
    border-radius: 5px;
}
form.appFormInput{
    width:100%;
    
}*/



.appForm {
    max-width: 400px;
    margin: 0 auto;
}

.appForm div {
    margin-bottom: 10px;
}

.appForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.appForm input[type="text"],
.appForm input[type="email"],
.appForm input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.appForm button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.appForm button:hover {
    background-color: #0056b3;
}

.responseMessage {
    margin-top: 10px;
}

.responseMessage__success {
    color: #008000;
}

.responseMessage__error {
    color: #ff0000;
}





p.responseMessage{
    font-size: 18px;
    text-align: center;
    margin-top: 33px;
    background: rgba(0, 128, 0, 0.1);
    padding:20px;

}
p.responseMessage__error{
    background: rgba(0, 128, 0, 0.1);

}
p.responseMessage__success{
    background: rgba(0, 128, 0, 0.1);
    
}
ul.dashboard_menu_lists li.limainmenu ul.submenus li.submenulink  a{
    padding-left: 25px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-transform: none !important;

}
.submenus{
    background-color: #c26a80;
    display:none;


}
i.maimmenuarrowicon{
    float:right;
    font-size:19px !important;
    margin-top:7px;

}