.dashboardMainContainer{
    display:flex;
    flex-direction: row;

}
.dashboard_sidebar{
    width:20%;
    background: #323232;
    height:100vh;

}
.dashboard_content_container{
    width:70%;
    background:#f4f6f9 ;
    
}
h3.dashboard_logo{
    color:#f685a1;
    font-size:80px;
    text-align: center;
    margin-bottom: 10%;

}
.dashboard_sidebar_user{
   text-align:center;
   position: relative;
   padding-bottom: 20px;
   border-bottom:1px solid #fff;
    top:1%;
}
.dashboard_sidebar_user img{
    width:80px;
    display:inline-block;
    border-radius:50px;
    border:2px solid #f685a1;
    margin-right:5px;
    margin-left:120px;
    

}
ul.dashboard_menu_lists{
    padding:5px;
    margin-top:20px;
}
ul.dashboard_menu_lists li{
    padding:15px 15px;
  
    text-transform: uppercase;


}
ul.dashboard_menu_lists li  a{
    text-decoration: none;
    color:#fff;
    height:100%;
    display:block;
    font-size:20px;


}
ul.dashboard_menu_lists li  a{
    font-size:25px;
}
ul.dashboard_menu_lists li.menuactive{
    background: #f685a1;
    color:#fff;

}
ul.dashboard_menu_lists li:hover{
    background: #f685a1;
    color:#fff;
    transition:0.3s all;
}
.dashboard_content_topNav{
    background: #fff;
    padding:20px;


}
.dashboard_content_topNav a{
    color:#848383;
    font-size:20px;
    text-decoration:none;
}
a#logoutButton{
    float: right;

}
.dashboard_content_main{
    padding:50px 10px 10px 10px ;
}
.dashboard_content_main{
    background: #fff;
    height:100%;
    min-height: 800px;
}