/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
  }

  
  /* Apply styles to the header */
  .header {
    background-color: #e96bf2; /* Brown color */
    color: #101010;
    padding: 20px;
    display: flex;
    justify-content: flex-end; /* Align content to the right */
  }
  
  .login-link {
    color: #fff;
    text-decoration: none;
  }
  
  /* Style the banner */
  .banner {
  
    background-size: cover;
    color: #aa59d8;
    padding: 150px 0;
    text-align: center;
    
   
  }
  
  .homepagecontainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .bannerheader h1 {
    font-size: 4em; /* Increased font size */
    margin-bottom: 20px;
  }
  
  .bannerheader p {
    font-size: 2em; /* Increased font size */
    margin-bottom: 40px;
  }
  
  .bannertagline {
    font-size: 1.4em; /* Increased font size */
    color: #36330c; /* Gold color */
    font-weight: bold; /* Added font weight */
  }
  
  /* Style the footer */
  .footer {
    background-color: #8B4513; /* Brown color */
    color: #564c13;
    text-align: center;
    padding: 10px 0;
  }