.container{
    background-image: url('../images/dispensary.jpg');
    background-size: cover;
    height:1000px;
}
.error{
    background: #fff;
    text-align:center;
    color:red;
    font-size:20px;
    padding:11px;


}
h1{
    font-size: 100px;
}